.footer__form {
  display: grid;
  place-items: center;
  grid-template-columns: unset;
  gap: 1.25rem; /* Espaçamento entre o label e o input */
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .footer__form {
    grid-template-columns: 9ch auto;
  }
}

.footer__email {
  display: grid;
  grid-template-columns: auto 3.375rem;
  position: relative;
  border: unset;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .footer__email {
    padding: 0;
  }
}

.footer__form label {
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.0625rem;
  margin: 0;
}

.footer__form input {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 700;
  color: #000;
  padding: 1.3125rem 0 1rem 1rem;
  background-color: var(--color-primary);
  border: unset;
}

.footer__form input::placeholder {
  text-transform: uppercase;
  color: #000;
}

.footer__form input:focus {
  outline: unset;
}

.footer__social {
  justify-self: center;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .footer__social {
    justify-self: end;
  }
}

.footer__social a,
.footer__social a:visited,
.footer__social a:active {
  color: #fff;
}

.footer__social a i:nth-child(2) {
  color: #000;
}

.footer hr {
  border-color: #fff4;
  margin: 0;
}

.footer p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 2.375rem 0;
}

.footer p span {
  text-transform: uppercase;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 0 1rem;
}

.footer__container {
  display: grid;
  grid-template-columns: unset;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  padding: 3rem 0;
  gap: 3rem;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .footer__container {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: unset;
    padding: 5rem 0;
  }
}

.footer .logo-studion {
  justify-self: center;
  margin: 0;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .footer .logo-studion {
    justify-self: start;
  }
}

.footer__form button {
  cursor: pointer;
  border: unset;
  height: 100%;
  transition: 0.3s all ease;
  /* Alinha o botao de enviar com o input */
}

.footer__form button:hover {
  color: #fff;
  background-color: var(--color-copy);
}
