.logo-studion {
  font-size: 2.375rem;
  font-weight: 900;
  line-height: 1ch; /* relativo ao tamanho da altura do glifo zero da fonte */
  text-transform: uppercase;
  text-align: right;
}

.logo-studion a {
  text-decoration: none;
  color: white;
}

.logo-studion__subtitle {
  display: block; /* quebra de linha de "eventos" */
  font-size: 0.875rem; /* 14 px */
  font-weight: 300;
}
