.navbar {
  position: absolute;
  z-index: 1; /* prioridade em sobreposição de outros elementos (navbar fixo independentemente da configuração de outros  elementos for "relative ou absolute") */
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.navbar__container {
  display: grid;
  grid-template-columns: 1fr 9fr; /* fração de 1 parte para 9 */
  align-items: center;
  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;
  /* navbar, navbar__container é importante para centralizar a pagina com a margem estabelecida pelo design (1140px)  */
}

.navbar__links {
  display: none;
  justify-self: end;
}

@media screen and (min-width: 1280px) {
  .navbar__links {
    display: flex;
  }
}

.navbar__links.active {
  display: grid;
  place-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 3rem 2rem;
  background: #000c;
}

.navbar__links a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.navbar__links a.active {
  color: var(--color-primary);
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.navbar__links li {
  font-size: 1.75rem; /* 14 px */
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .navbar__links li {
    font-size: 0.875rem; /* 14 px */
    margin-right: 3rem;
  }
}

.navbar__menu-btn {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  background: unset;
  border: unset;
  width: fit-content;
  justify-self: end;
  align-self: start;
  margin-top: 2rem;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 1280px) {
  .navbar__menu-btn {
    display: none;
  }
}
