:root{
    --color-primary: #FFC500; /* Variavel criada para utilização de cor em varias seções da pagina, sem a necessidade de copiar e colar a cor (RGB, HEXADECIMAL, etc) */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding-top: 7.75rem;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}


.navbar{
    position: fixed;
    background-color: #000;
    color: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 9fr; /* fração de 1 parte para 9 */
}

.navbar__links{
    justify-self: end; /* Vai jogar o menu para a direita */
}

.navbar__links a{
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
}

.navbar__links a:hover{
    color: var(--color-primary)
}

.navbar__links li{
    margin-right: 3rem; /* Espaçamento dos itens do menu em px (48px/16 = 3rem) */
    font-size: .875rem; /* 14 px */
    text-transform: uppercase;
}

.logo-studion{
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.2ch; /* relativo ao tamanho da altura do glifo zero da fonte */
}

.copy--primary{
    color: var(--color-primary)
}

.logo-studion__subtitle{
    font-size: .875rem; /* 14 px */
    font-weight: 300;
    float: right;
}