@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-copy: #333;
    --color-primary: #FFC500; /* Variavel criada para utilização de cor em varias seções da pagina, sem a necessidade de copiar e colar a cor (RGB, HEXADECIMAL, etc) */
    --default-padding: 1rem;
    color: var(--color-copy)
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding-top: 7.75rem;
}

header,
main,
footer{
    overflow-x: hidden;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    /* Importantissimo para criar a margem da pagina centralizada conforme design */
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

h6{
    margin: 0;
}

.navbar{
    position: fixed;
    z-index: 1; /* prioridade em sobreposição de outros elementos (navbar fixo independentemente da configuração de outros  elementos for "relative ou absolute") */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.navbar__container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 9fr; /* fração de 1 parte para 9 */
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
    /* navbar, navbar__container é importante para centralizar a pagina com a margem estabelecida pelo design (1140px)  */
}

.navbar__links{
    justify-self: end; /* Vai jogar o menu para a direita */
}

.navbar__links a{
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
}

.navbar__links a:hover{
    color: var(--color-primary)
}

.navbar__links li{
    margin-right: 3rem; /* Espaçamento dos itens do menu em px (48px/16 = 3rem) */
    font-size: .875rem; /* 14 px */
    text-transform: uppercase;

}

.logo-studion{
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.2ch; /* relativo ao tamanho da altura do glifo zero da fonte */
}

.copy--primary{
    color: var(--color-primary)
}

.logo-studion__subtitle{
    font-size: .875rem; /* 14 px */
    font-weight: 300;
    float: right;

}

#slider{
    padding: var(--default-padding); 
    background-color: #000;
    color: #fff;
}

.slide{
    height: calc(100vh - 7.75rem);
    position: relative; /* Vai travar o "slide__copy" dentro da area do "slide" */

}

.slide__background-image{
 /* vai cobrir a div inteira, sem repetir a imagem */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy{
    position: absolute;
    top: 6.25rem;
    left: 50vw;
}


.slide__copy h6{
    font-size: 0.94rem ;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25rem; /* kerning (espaçamento entre letras) */
}

.slide__copy h2{
    font-size: 6.25rem ;
    text-transform: uppercase;
    line-height: 6.25rem;

}

.slide__copy h2 span{
    display: block; /* quebra de linha no texto "Creative Minds" */
}

.btn{
    cursor: pointer;
    padding: 1rem 2.5rem;
    color: var(--color-primary);
    background: unset; /* transparente */
    border: .125rem solid #fff;
    border-radius: 5rem;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all ease;
}

.btn:hover, /* mudar para btn--slide caso der erro */
.btn:active,
.btn:focus,
.btn--institutional{
    color: #FFF;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

#counter{
    background-color: var(--color-primary);
    color: #FFF;
    text-transform: uppercase;
}

.counter__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    padding: 4.375rem 1rem;
    letter-spacing: .125rem;
    line-height: 2,25rem;
}

.counter__container h3{
    font-size: 2.1875rem;
}

.counter__container h3 small{
    display: block;
    font-size: 1.25rem;
}

/* Seção Institucional */

.institutional{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem; /* Espaçamento entre a imagem e o texto */
    align-items: center;
    padding: 4.5625rem 0 5.3125rem 0;
}

.institutional__copy{
    padding: 0 1.875rem;
}

.institutional__copy h6{
    font-size: .875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .0625rem; /* kerning (espaçamento entre letras) */ 
    margin: 0;   
}

.institutional__copy h4{
    margin-top: 1.625rem;
    font-size: 1.5625rem;
    font-weight: 700;
}

.institutional__copy p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.8675rem;
    margin-bottom: 0;
    margin-bottom: 2.5rem;
}

.btn--institutional:hover{
    color: var(--color-copy);
    background: unset;
    border-color: var(--color-primary);
    box-shadow: 1px 10px 10px var(--color-copy)
}

.institutional__image{
    max-width: 550px;
}

/* Seção Cotação */

/* Efeito parallaxx */
.quote{
    background-image: url(./image/parallax.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; /* Ocupa a pagina inteira */
    background-position: center;
}

.quote__container{
    min-height: 80vh; /* Altura minima da imagem (80% da vizualização da tela */
    display: grid;
    align-items: center; /* Posição horizontal */ 
    justify-items: end; /* Posição vertical, jogando para a esquerda */

}

.quote__copy{
    background-color: #FFF;
    padding: 5.625rem 4.375rem;
}

.quote__copy h6{
    font-size: .9375rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    line-height: 1.4375rem;
    max-width: 53ch; /* Quebra de linha */
    margin: 0;
}

.quote__copy h2{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    letter-spacing: -.1875rem;
    line-height: 5rem;
    margin-top: 2.25rem;
    margin-bottom: 1.875rem;
}

.quote__copy h2 span{
    display: block; /* Quebra de linha */
}
    
.btn--quote{
    border-color: #000;
    color: #000;
    background-color: unset;
}

/* Rodapé */

.footer{
    background-color: #000;
    color: #FFF;
    padding: 0 1rem;
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 5.25rem 0 3.75rem 0;
}

.footer .logo-studion{
    justify-self: start;
    margin: 0;
}

.logo-studion__subtitle{
    display: block;
}

.footer__form{
    display: grid;
    place-items: center;
    grid-template-columns: 9ch auto;
    gap: 1.25rem; /* Espaçamento entre o label e o input */

}

.footer__form fieldset{
    position: relative;
    border: unset;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer__form label{
    font-size: .875rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.0625rem;
    margin: 0;
}

.footer__form input{
    width: 100%;
    font-size: .875rem;
    font-weight: 700;
    color: #000;
    padding: 1.3125rem 0 1rem 1rem;
    background-color: var(--color-primary);
    border: unset;
}

.footer__form input::placeholder{
    text-transform: uppercase;
    color: #000;
}

.footer__form input:focus{
    outline: unset;
}


.footer__social{
    justify-self: end;
}


.footer__form button{
    border: unset;
    width: 3.375rem;
    height: 3.33rem;
    position: absolute;
    right: 0;
    top: 0;
}